footer
	.scripts-area
	.row.nav
		a.logo(href="/")
			img.lazyload(data-src="/assets/img/logo-white.svg" width="180" height="57")
		ul
			li
				a(href="/order.html") Заказать авто
			li
				a(href="/order.html") Калькулятор
			li
				a(href="/order.html") Услуги
			li
				a(href="/order.html") О нас
		a.tel(href="tel:[[++tel]]")
			img.lazyload(data-src="/assets/img/phone-white.svg" width="30" height="30")
			span +375 29 758 22 22
	.row.soc
		span Мы в социальных сетях
		ul
			li
				a(href="viber://chat/?number=%2[[++tel]]")
					img.lazyload(data-src="/assets/img/soc/viber.svg" width="30" height="30")
			li
				a(href="https://t.me/Autogetby")
					img.lazyload(data-src="/assets/img/soc/tg.svg" width="30" height="30")
			li
				a(href="https://www.instagram.com/evgeniy_avtopodbor/")
					img.lazyload(data-src="/assets/img/soc/inst.png" width="30" height="30")
			li
				a(href="#")
					img.lazyload(data-src="/assets/img/soc/g.svg" width="30" height="30")
			li
				a(href="https://api.whatsapp.com/send?phone=375297582222")
					img.lazyload(data-src="/assets/img/soc/wa.svg" width="30" height="30")
			li
				a(href="https://www.youtube.com/channel/UCOEY1co0LZC4HZKJxg4Tb3Q")
					img.lazyload(data-src="/assets/img/soc/yt.svg" width="30" height="30")
		p OOO "Автогет" 193646750 г. Минск, ул. 50 лет Победы, 4, помещение 8	