header
	a(href="/")
		img(src="/assets/img/logo.svg" width="180" height="105")
	ul
		li
			a(href="/") Главная 
		li
			a(href="/order.html") Заказать авто 
		li
			a(href="/calc.html") Калькулятор 
		li
			a(href="/services.html") Услуги 
		li
			a(href="/about.html") Калькулятор
	a.phone(href="tel: +375 29 758 22 22")
		img(src="/assets/img/phone.svg" width="40" height="40")
		span +375 29 758 22 22