main
	h1 О нас
	p.big Услуга по подбору авто будет для Вас отличным решением задачи при выборе и покупке автомобиля. Мы осуществляем подбор и осмотр необходимого для Вас автомобиля в самый короткий период времени и избавят Вас от работы, которая требует большое количество времени и особых навыков.
	p.big Из реального опыта можно сказать, что самостоятельный подбор авто — это достаточно сложный и трудоемкий процесс, который требует специального образования и технических знаний. Доверьте это профессионалу и Вы будете довольны своей покупкой!
	p OOO "Автогет" 193646750 г. Минск, ул. 50 лет Победы, 4, помещение 8