main
	.container
		h1 Авто из США и Европы
		h2 Без посредников и скрытых платежей
		h2 Автоподбор
section.features
	.container
		h2 Наши преимущества
		ul
			li
				img(src="/assets/img/icons/percent.webp" loading="lazy" width="104" height="106")
				span Низкие цены
			li
				img(src="/assets/img/icons/star.webp" loading="lazy" width="104" height="106")
				span 15 летний опыт
			li
				img(src="/assets/img/icons/legal.webp" loading="lazy" width="104" height="106")
				span 100% легальность работы на рынке
			li
				img(src="/assets/img/icons/map.webp" loading="lazy" width="104" height="106")
				span Не прибегаем к услугам посредников
			li
				img(src="/assets/img/icons/search.webp" loading="lazy" width="104" height="106")
				span Проверим авто перед покупкой
			li
				img(src="/assets/img/icons/cargo.webp" loading="lazy" width="104" height="106")
				span Поможем с растаможкой
section.auctions
	h2 Мы работаем с популярными аукционами
	ul
		li
			img.lazyload(data-src="/assets/img/auc/webp/200.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-1.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-2.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-3.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-4.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-5.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-6.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-7.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-8.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-9.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-10.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-11.webp" width="200" height="200")
footer
	.row
		a.logo(href="/")
			img.lazyload(data-src="/assets/img/logo-white.svg" width="180" height="57")
		ul
			li
				a(href="/order.html") Заказать авто
			li
				a(href="/order.html") Калькулятор
			li
				a(href="/order.html") Услуги
			li
				a(href="/order.html") О нас
		a.tel(href="tel:[[++tel]]")
			img.lazyload(data-src="/assets/img/phone-white.svg" width="30" height="30")
			span +375 29 758 22 22
	.row
		span Мы в социальных сетях
		ul
			li
				a(href="viber://chat/?number=%2[[++tel]]")
				img.lazyload(data-src="/assets/img/soc/viber.svg" width="30" height="30")