main
	.container
		h1 Авто из США и Европы
		h2 Без посредников и скрытых платежей
		h2 Автоподбор
section.features
	.container
		h2 Наши преимущества
		ul
			li
				img(src="/assets/img/icons/percent.webp" loading="lazy" width="104" height="106")
				span Низкие цены
			li
				img(src="/assets/img/icons/star.webp" loading="lazy" width="104" height="106")
				span 15 летний опыт
			li
				img(src="/assets/img/icons/legal.webp" loading="lazy" width="104" height="106")
				span 100% легальность работы на рынке
			li
				img(src="/assets/img/icons/map.webp" loading="lazy" width="104" height="106")
				span Не прибегаем к услугам посредников
			li
				img(src="/assets/img/icons/search.webp" loading="lazy" width="104" height="106")
				span Проверим авто перед покупкой
			li
				img(src="/assets/img/icons/cargo.webp" loading="lazy" width="104" height="106")
				span Поможем с растаможкой
section.auctions
	h2 Мы работаем с популярными аукционами
	ul
		li
			img.lazyload(data-src="/assets/img/auc/webp/200.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-1.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-2.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-3.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-4.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-5.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-6.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-7.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-8.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-9.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-10.webp" width="200" height="200")
		li
			img.lazyload(data-src="/assets/img/auc/webp/200-11.webp" width="200" height="200")
