main
	h1 Оставить заявку на подбор авто
	form
		span Контактная информация
		input(type="text" placeholder="Ф.И.О" required)
		input(type="text" placeholder="Email" required)
		input(type="text" placeholder="Телефон" required)
		span Дополнительная информация
		textarea(placeholder="Опишите автомобиль, который хотели бы приобрести")
		input(type="submit" value="Отправить")
