main
	h1 Услуги
	.swiper
		.swiper-wrapper
			.swiper-slide
				.container
					.left
						h3 Разовый осмотр
						h3 100 руб.
						a(href="/order.html") Заказать
					ul
						li Выезд в удобное для вас место	
						li Первичный осмотр
						li Проверка толщины лакокрасочного покрытия
						li Выявление реального пробега
						li Считывание ошибок диагностическим оборудованием
						li Тест драйв
						li Аргументированный торг с продавцом
						li Экспертная оценка целесообразности покупки
						li Проверка по базам РФ, ЕС, РБ и США
						li Проверка по реестрам залогов
			.swiper-slide
				.container
					.left
						h3 Эксперт на день
						h3 300 руб.
						a(href="/order.html") Заказать
					ul
						li Осмотр неограниченного количества выбранных Вами автомобилей.
						li Торг и консультации по сделке
						li Осмотр неограниченного количества выбранных Вами автомобилей в течении 8 часов
						li Обоснованный торг с продавцом
						li Организация и консультация сделки купли-продажи
			.swiper-slide
				.container
					.left
						h3 Авто под ключ РБ
						h3 750 руб.
						a(href="/order.html") Заказать
					ul
						li Помощь в подборе наиболее честных вариантов
						li Работаем до результата
						li Определение ввоза авто в РБ и историю по РФ, ЕС
						li Первичный осмотр
						li Проверка толщины лакокрасочного покрытия
						li Выявление реального пробега
						li Считывание ошибок диагностическим оборудованием
						li Тест драйв
						li Аргументированный торг с продавцом
						li Экспертная оценка целесообразности покупки
						li Предоставляем полные отчёты по авто в электронном виде
						li Сопровождение сделки купли-продажи
			.swiper-slide
				.container
					.left
						h3 Авто под ключ из Европы
						h3 750 руб.
						a(href="/order.html") Заказать
					ul
						li Консультация и подбор автомобиля
						li Детально изучаем информацию аукционов
						li Работаем без посредников
						li Участие в аукционе
						li Проверяем автомобиль по всем имеющимся базам
						li Бесплатный отчет carVertical.com
						li Оформление пакета документов
						li Организация доставки авто до СВХ Минск на застрахованном автовозе (оплачивается отдельно)
						li Помощь в таможенном оформлении
						li Консультация по указу №140
			.swiper-slide
				.container
					.left
						h3 Авто под ключ из США
						h3 750 руб.
						a(href="/order.html") Заказать
					ul
						li Консультация и подбор автомобиля
						li Детально изучаем информацию аукционов
						li Работаем без посредников
						li Участие в аукционе
						li Проверяем автомобиль по всем имеющимся базам
						li Бесплатный отчет carVertical.com
						li Оформление пакета документов
						li Организация доставки авто до СВХ Минск на застрахованном автовозе (оплачивается отдельно)
						li Помощь в таможенном оформлении
						li Консультация по указу №140

		.swiper-navigation
			.swiper-button-next
			.swiper-button-prev
		.swiper-pagination
	p
		b При необходимости выезжаем в любую точку РБ
	p (дополнительно оплачивается 0.5 бел.руб. за 1 км.)	